{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 180,
  "semi": true,
  "trailingComma": "none",
  "singleQuote": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed"
}